body {
    margin: 0;
    font-family: "Kumbh Sans", sans-serif;
}
img {
    display: block;
    max-width: 100%;
}
h1,h2,h3,p {
    margin: 0.3rem;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.75rem;
}
p {
    text-wrap-style: pretty;
}
address {
    font-style: normal;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
    padding: 0;
}

section {
    padding: 1rem;
}

dialog {
    position: fixed;
    z-index: 2;
    display: none;
    flex-direction: column;
    position-area: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.5);
}
.modal-open {
    display: flex;
}
.modal-window {
    display: block;
    margin: auto;
    text-align: center;
    padding: 2rem;
    background-color: white;
    width: 12rem;
}
.modal-window button {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    background-color: #2d497d;
    border: none;
    color: white;
    cursor: pointer;
}
.modal-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2rem;
}

.container-background {
    position: relative;

    padding-top: 8.5rem;
    padding-bottom: 9.5rem;
    padding-inline: 1rem;

    background-color: rgb(188, 231, 231);
    background-image: url("images/background2.jpeg");
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position-y: 75%;
    background-size: cover;
    
    text-align: center;
}
.container-background h1, .container-background p {
    color: white;
    text-shadow: 0px 4px 4px black;
}
.container-background h1 {
    font-size: 4rem;
}
.container-background p {
    font-size: 2rem;
}
.container-background img {
    width: 18.5rem;
    position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50% 50%;
    border: 8px solid #637687;
}

.spacer {
    padding-top: 10.5rem;
}

.container-ceremony {
    text-align: center;
}
.container-ceremony address {
    font-size: 1.25rem;
}
.container-ceremony p {
    font-size: 1.4rem;
}
.container-ceremony a {
    color: rgb(47, 100, 225);
}
.container-ceremony img {
    width: 100%;
    max-width: 45rem;
    margin-block: 1rem;
    margin-inline: auto;
    border-radius: 0.5rem;
}

.container-confirm {
    background-color: #617786;
    text-align: center;
    color: white;
}
.container-confirm a {
    display: inline-block;
    margin-block: 1rem;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    background-color: #a8c1ee;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.container-confirm em {
    display: block;
    font-size: 1.2rem;
}

.container-gifts header {
    padding-block: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 1.4rem;
}
.gifts-list {
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
    grid-gap: 1.4rem;
    justify-items: center;
}
.gift-item {
    max-width: 11rem;
    text-align: center;
}
.gift-item h3 {
    margin-top: 0.5rem;
    font-size: 1.1rem;
    font-weight: 300;
}
.gift-item p {
    margin-block: 0.7rem;
    font-size: 0.8rem;
}
.gift-item img {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}
.gift-item button {
    padding: 0.6rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    background-color: #2d497d;
    border: none;
    color: white;
    cursor: pointer;
}

.container-accommodation {
    text-align: center;
    background-color: #617786;
    color: white;
    /* margin-top: 3rem; */
    padding-top: 2rem;
}
.container-accommodation header {
    padding-block: 1rem;
    padding-bottom: 2rem;
}
.container-accommodation header p {
    max-width: 90ch;
    margin-inline: auto;
    font-size: 1.2rem;
}
.container-accommodation a {
    background-color: #a8c1ee;
    color: black;
    padding-block: 0.5rem;
    border-radius: 0.3rem;
}
.container-accommodation ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 1.5rem;
    justify-items: center;
    padding-inline: 0;
}
.container-accommodation ul li {
    background-color: rgb(41, 61, 83);
    border-radius: 0.2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container-accommodation ul li img {
    margin-inline: auto;
    max-width: 10rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 0.5rem;
}
.container-accommodation li p{
    max-width: 40ch;
}
.container-accommodation em {
    display: block;
    padding-block: 3rem;
    font-size: 1.7rem;
}